version: "1.2"
tar_gene: GENE
gse_id: GSE123456
data_dir: data
group_select_col: source_name_ch1
control_label: ['control']
exp_label: ['CCl4']
exp_type: "Fibrosis"
analysis_mode: "diff" 
storage: true
strict_mode: false
debug: false
p_threshold: 0.05
log_threshold: 10
signs:
- positive
- negative

# hydra配置
hydra:
  job_logging:
    handlers:
      console:
        level: INFO